* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	color: rgb(200, 200, 200);
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3f3f3f;
}
.card {
	height: 480px;
	width: 300px;
	background-color: #d2d2d2;
	border-radius: 10px;
	border: 3px solid black;
    position: relative;
    overflow: hidden;
}
.stories {
	height: 100px;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.stories::-webkit-scrollbar{
    display: none;
    transition: all ease 0.2s;
}
.story {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    padding: 2px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.story img {
	object-fit: cover;
	height: 100%;
	width: 100%;
    object-position: center;
    border-radius: 50%;
}
.fullscreen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;

}