* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	background-color: rgb(232, 232, 232);
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3a3a3a;
	position: relative;
}
.card {
	height: 500px;
	width: 300px;
	background-color: whitesmoke;
	border-radius: 10px;
	padding: 20px;
}
.card div {
	position: relative;
	overflow: hidden;
}
.card img {
	object-fit: cover;
	height: 400px;
	border-radius: 10px;
	width: 100%;
	background-position: center;
}
.card h1 {
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
	font-weight: 300;
}
.card i {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	font-size: 80px;
	transform: translate(-50%, -50%) scale(0) rotate(-60deg);
	transition: all ease 0.2s;
}
