* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
html {
	background-color: #2c2a2a;
	color: white;
	padding: 20px;
}

h1{
    text-align: center;
    font-size: 200px;
    color: rgb(191, 215, 147);
}
h2{
    text-align: center;
    font-size: 100px;
    color: rgb(245, 234, 205);
}