* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
main{
    height: 100%;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}
.card{
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border-radius: 20px;

    height: 320px;
    width: 280px;
    border-radius: 30px;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 10px;
}
.top{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.top img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.top h2{
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid rgb(74, 74, 74);
    background-color: whitesmoke;
    font-weight: 300;
    padding: 2px 5px;
    opacity: 0.5;
}
.mid{
    margin-top: 15px;
    text-align: start;
}
.mid h2{
    font-size: 17px;
    font-weight: 500;
}
.mid  h2 span{
    font-size: 10px;
    opacity: 0.6;
    font-weight: 200;   
}
.mid h1{
    font-size: 22px;
    font-weight: 600;
}
.mid .role{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 8px;
}
.role h2{
    font-size: 10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(231, 231, 231);
    font-weight: 400;
    padding:2px 5px;
}
.bottom{
    border-top: 2px solid rgba(165, 159, 159, 0.304);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.pay-loc h2{
    font-size: 20px;
}
.pay-loc h3{
    font-size: 10px;
    opacity: 0.6;
    font-weight: 200;
}
button{
    font-size: 15px;
    border-radius: px;
    padding: 5px 12px;
    border: none;
    background-color: rgb(0, 0, 0);
    font-weight: 300;
    color: rgb(250, 249, 249);
    
}
button:active{
    scale: 0.95;
}
