* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
html {
	background-color: #2c2a2a;
	color: white;
	padding: 20px;
}

h1 {
    color: blanchedalmond;
	text-align: center;
	font-size: 100px;
}
.clicks{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
	background-color: rgb(209, 230, 183);
	color: black;
    
	padding: 20px;
	border-radius: 20px;
}
