* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	color: white;
}
main {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	padding: 15px 20px;
	border-radius: 8px;
	background: black;
	color: white;
	cursor: pointer;
	transition: 0.3s ease;
    
}
button:active {
	scale: 0.95;
}
.dark {
	background: black;
	color: white;
}
.dark button {
	background: black;
	color: white;
}
