* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	color: rgb(200, 200, 200);
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
main {
	height: 100%;
	width: 100%;
	background-color: #030303;
	position: relative;
}

.elem {
	height: 100px;
	width: 100%;
	background-color: rgb(53, 53, 53);
	border-bottom: 3px solid rgb(160, 160, 160);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.elem h1 {
	font-size: 4vw;
    mix-blend-mode: difference;
    position: relative;
    z-index: 9;
}

.elem img {
	width:150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all linear 0.3s;
}
