@font-face {
    font-family:gill ;
    src: url(./Gilroy-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
    font-family: gill;
}

main{
    width: 100%;
    height: 100%;
    background-color: white;
}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left h2 i{
    color: #BAC3FF;
}
header .left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
header .mid{
    display: flex;
    font-size: 10px;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

header .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}
.right button{
    font-size: 16px;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    justify-content: space-between;
    background-color: #2C313D;
}
.right span{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    color: #2C313D;
    background-color: #BAC3FF;
}
.child1{
    color: rgb(6, 6, 6);
    height: 400px;
    font-size: 50px;
    width:100%;
    
    display: flex;
    flex-direction: column;
}


section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.hero1{
    height: 550px;
    width: 600px;
    
}

.hero2{
    height: 550px;
    width: 600px;
    display: grid;
    grid-template-areas: 1fr 1fr;
    grid-template-areas: "box1 box1"
                        "box2 box3";
    grid-gap: 15px;
    padding: 20px;
    
}

.hero2 .box1{
    grid-area: box1;
    background-image: url(https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.hero2 .box2{
    grid-area: box2;
    background-color: rgb(63, 142, 26);
    border-radius: 30px;
    background-image: url(https://images.unsplash.com/photo-1674027444485-cec3da58eef4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1932);
    background-position: center;
    background-size: cover;
}
.hero2 .box3{
    grid-area: box3;
    background-image: url(https://images.unsplash.com/photo-1674027444636-ce7379d51252?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1932);
    background-position: center;
    background-size: cover;
    background-color: rgb(76, 10, 170);
    border-radius: 30px;
}
#firstbutton{
    background-color: pink;
    height: 8px;
    width:15px;
    border: 2px solid black;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);
    background-position: center;
    background-size: cover;
}
.child2 p{
    padding: 20px;
    font-size: 15px;
}
.foot{
    padding: 20px;
    display: flex;
    justify-content:flex-start;
    align-content: center;
    gap: 28px;
    font-weight: 500;

}
.downchild{
    padding: 20px;
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.downchild button{
    padding: 13px 21px;
    border-radius: 30px;
    background-color: #1E233C;
    color: white;
}
.downchild a{
    font-size: 15px;
}

.upchild{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
}
.upchild p{
    font-size: 65px;
}
.upchild button{
    background-image: url(https://images.unsplash.com/photo-1757479964242-346b2e39cb2c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1932);
    height: 45px;
    width: 100px;
    border-radius: 80px;
}