* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

main {
	width: 100%;
	height: 100%;
	background-color: #0a0a0a;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.card{
    width: 280px;
    background-color: #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-left: 5px;
}
.card img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: inherit;
}
.card h1{
    font-size: 40px;
    font-weight: 200;
    white-space: nowrap;
}
.card h2{
    font-size: 20px;
    color: rgb(26, 24, 24);
    font-weight: 600;
    white-space: nowrap;
}
.card p{
    font-size: 10px;
}