* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #222121;
    flex-direction: column;
}
main h1{
    font-size: 150px;   
}
main .cursor{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.1s;
}