* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 300px;
	height: 500px;
	border-radius: 10px;
	background-color: white;
	overflow: hidden;
	position: relative;
}

.container img {
	object-fit: cover;
	width: 100%;

	height: 100%;
	border-radius: 10px;
}
.container i {
	color: #fff;
	opacity: 0.8;
	font-size: 90px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all ease 0.4s;
}
